[submodule "fast_lio_sam"]
	path = fast_lio_sam
	url = git@github.com:WillCode1/fast_lio_sam.git
	branch = master
[submodule "fastlio_localization"]
	path = fastlio_localization
	url = git@github.com:WillCode1/fastlio_localization.git
	branch = master
[submodule "robot_pose_ekf"]
	path = robot_pose_ekf
	url = git@github.com:WillCode1/robot_pose_ekf.git
	branch = master
